h1 {
    color: rgb(15, 15, 15);
    background-color: #7c7c83;
    text-align: center;
    text-transform: uppercase;
}
.areaBonita {
    border: 1px;
    border-radius: 10%;
    background-color: #7c7c83;
    color: #020202;
    height: 50px;
    width: 450px;
    font-size: 20px;
}
label {
    padding-right: 12px;
}
body{
    background-color: #2f6999;
}