h1 {
    color: blue;
    background-color: aqua;
    text-align: center;
    text-transform: uppercase;
}
.areaBonita {
    border: 1px;
    border-radius: 10%;
    background-color: #858591;
    color: #303033;
    height: 50px;
    width: 450px;
    font-size: 20px;
}
label {
    padding-right: 12px;
}